
body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

#video-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

nav {
  position: relative;
  z-index: 1;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.mini-logo {
    display: inline-block; 
    width: 100px;
    height: 70px;
    margin-top: 0x;
  }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul {
    list-style: none ;
    float: right;
    display: flex;
    margin-top: 0.7px
  }
.menu li {
  margin-left: 35px;
}

.menu li a {
  text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

.menu ul li a:hover {
    background-color: #fff;
    color:rgb(40, 205, 40);
  }

  p{
    font-size:small;
    font-style: italic;
    color:rgb(40, 205, 40);
    
  }
.toggle {
  width: 25px;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
  display: none;
}

 
.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-content h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.center-content button {
  border-radius: 4px;
  background-color:rgb(40, 205, 40); 
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: white;
}

.center-content button:hover {
  background-color:black;
  color: rgb(40, 205, 40) ;
  border-color: rgb(40, 205, 40);
}
ul li.activ a {
    background-color: #fff;
    color: rgb(40, 205, 40) ;
  }
 



@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .toggle {
    display: block;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
  }

  .menu.active li {
    margin-left: 0;
    margin-bottom: 10px;
  }




  
}
