
    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .content {
        position: relative;
        z-index: 1;
      } 
      
      
       p {
        font-size:larger;
        font-style: italic;
        color:rgb(40, 205, 40);
      
      }
        h2 {
        color: rgb(40, 205, 40);
        padding-left: 35%;
        padding-top: 2%;
           }


      .mini-logo {
        display: inline-block; 
        width: 100px;
        height: 50px;
        margin-top: 15px;
         
      }
      .log {
        display: inline-flex; 
        padding-left: 20px;
      }

      form {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid rgb(40, 205, 40);
        border-radius: 3px;
        background-color: transparent;
      }
      /*  les champs de saisie */
      input[type=text], input[type=email], input[type=password] ,select[type="travail"]{
        width: 100%;
        padding: 9px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(40, 205, 40);
        border-radius: 4px;
        background-color: #fff;
        resize: none;
      }
      
      /*  le bouton  */
      input[type=submit] {
        background-color: rgb(40, 205, 40);
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #fff;
      }

      .btn {
        transition: 0.6s ease;
        background-color:rgb(40, 205, 40);
      }
      .btn:hover {
        background-color:black;
        color: rgb(40, 205, 40);
        border-color: rgb(40, 205, 40) ;
      }

      .input-icon {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-image: url("icon1.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 1% center;
        
      }
      .input-icon1 {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-image: url("icon2.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 1% center;

      }
     
    